html {
    font-size: 21px;
    font-family: "Garamond", serif;
}

html, body {
    height: 100%;
}

.vl {
    border-left: 2px solid white;
    margin-right: 10px;
    margin-left: 5px;
}

.hero {
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 86px;
    border-left: 1px solid #000000;
    z-index: 2;
    overflow: auto;
    background: #000000;
    color: #ffffff;
}

.hero nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-family: "Garamond", serif;
    font-size: 36px;
    display: block;
}
.hero nav ul {
    margin: 0 25px 0 25px;
    padding: 0;
}
.hero nav li {
    list-style-type: none;
    margin: 25px 0;
    position: relative;
}
.hero nav a {
    text-decoration: none;
    color: #ffffff;
}

.hero hr {
    display: block;
}

.hero .vl {
    display: none;
}

.hero i {
    margin: 20px 0 20px 0;
    cursor: pointer;
}

.content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 86px;
    z-index: 1;
    display: flex;
}


@media (max-width: 45em) {

    .hero {
        height: 50px;
        width: 100%;
        border-left: none;
        border-bottom: 1px solid #000000;
        white-space: nowrap;
    }

    .content {
        top: 50px;
        right: 0;
    }

    .hero hr {
        display: none;
    }

    .hero .vl {
        display: inline;
    }

    .hero i {
        margin: 0 10px 0 10px;
    }

    .hero nav {
        font-size: 20px;
    }

    .hero nav li {
        margin: 15px 0;
        position: relative;
    }
}

/* Cytoscape */
#cy {
    flex: 1;
}

.modal {
    margin-top: 75px;
    min-width: 75%;
    line-height: 2;
}