html {
    font-size: 21px;
    font-family: "Garamond", serif;
}

html, body {
    height: 100%;
}

.hero {
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 15em;
    border-left: 1px solid #000000;
    z-index: 2;
    overflow: auto;
    background: #ffffff;
}

.hero nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #000000;
    font-family: "Garamond", serif;
    font-size: 1em;
    display: block;
}
.hero nav ul {
    margin: 0 25px 0 25px;
    padding: 0;
}
.hero nav li {
    list-style-type: none;
    margin: 25px 0;
    position: relative;
}
.hero nav a {
    text-decoration: none;
    color: #000000;
}

.content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 15em;
    z-index: 1;
    display: flex;
}


@media (max-width: 45em) {

    .hero {
        height: 15em;
        width: 100%;
        border-left: none;
        border-bottom: 1px solid #000000;
    }

    .content {
        left: 0;
        top: 15em;
        right: 0;
    }
}

/* Cytoscape */
#cy {
    flex: 1;
}